@using Microsoft.AspNetCore.Html
@using System.Reflection
@using StammPhoenix.Util.Interfaces

@inject IRandomBackgroundService RandomBackgroundService

@{
    var backgroundData = this.RandomBackgroundService.GetRandomBackground();
}

@functions
{
    IHtmlContent NavLink(string? url, string? text)
    {
        var active = this.Context.Request.Path == new PathString(url) ? "active" : string.Empty;

        return Html.Raw($" <a class=\"nav-link {active}\" href=\"{url}\">{text}</a>");
    }
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DPSG Stamm Phoenix</title>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="@Url.Content("~/css/bundle.base.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/bundle.site.css")" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    @await this.RenderSectionAsync("PageStyle", false)
    <style>
    :root {
        --background-url: url(@backgroundData.Path);
        --background-width: @(backgroundData.Width)px;
        --background-height: @(backgroundData.Height)px
    }
    </style>
</head>
<body>

<header class="p-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container rounded shadow-sm">
        <a class="navbar-brand" href="/">
            <img src="@Url.Content("~/image/phoenix-512.png")" width="32" height="32" alt="Phoenix">
        </a>

        <a class="navbar-brand ms-auto me-auto d-lg-none" href="/">
            <img src="@Url.Content("~/image/lilie-512.png")" width="32" height="32" alt="Lilie">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Home"), "Home")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Gruppenstunden"), "Gruppenstunden")
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Stufen</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@this.Url.To("Woelflinge", "Stufe")">Wölflinge</a></li>
                        <li><a class="dropdown-item" href="@this.Url.To("Jungpfadfinder", "Stufe")">Jungpfadfinder</a></li>
                        <li><a class="dropdown-item" href="@this.Url.To("Pfadfinder", "Stufe")">Pfadfinder</a></li>
                        <li><a class="dropdown-item" href="@this.Url.To("Rover", "Stufe")">Rover</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Verband"), "Verband")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Downloads"), "Downloads")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Kontakt"), "Kontakt")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Datenschutz"), "Datenschutz")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Impressum"), "Impressum")
                </li>
            </ul>
            <ul class="navbar-nav ms-auto me-2 ">
                @if (this.Context.IsAuthenticated())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@this.Context.GetUserGivenName()</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.To("Index", "Home", "Leiter")">Zum Leitendenbereich</a></li>
                            <li><a class="dropdown-item disabled" href="#">Konto bearbeiten</a></li>
                            <li><a class="dropdown-item" href="@Url.To("Index", "Logout")">Ausloggen</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @this.NavLink(this.Url.To("Index", "Login"), "Einloggen")
                    </li>
                }
            </ul>
        </div>

        <a class="navbar-brand ms-auto me-0 d-none d-lg-block" href="/">
            <img src="@this.Url.Content("~/image/lilie-32.png")" alt="Lilie">
        </a>
    </nav>

    @await this.RenderSectionAsync("AreaNavigation", false)
</header>

<main role="main" class="ps-2 pe-2">
    @this.RenderBody()
</main>

<footer class="p-2">
    <nav class="navbar navbar-light bg-light container rounded shadow-sm d-flex justify-content-center">
        <span class="navbar-text">© @DateTime.Now.Year Deutsche Pfadfinderschaft Sankt Georg 13/19/12 Stamm Phoenix Feldkirchen-Westerham</span>
    </nav>
</footer>

<span class="version d-none d-xxl-block">Build @Assembly.GetExecutingAssembly().GetVersion() (@Assembly.GetExecutingAssembly().GetBuildDate().ToString("dd.MM.yyyy HH:mm:ss"))</span>

<script src="@Url.Content("~/js/bundle.base.js")"></script>
<script src="@Url.Content("~/js/bundle.site.js")"></script>
@await this.RenderSectionAsync("PageScript", false)
</body>
</html>
