@using StammPhoenix.Web.Extensions
@using Microsoft.AspNetCore.Html
@using System.Reflection

@functions
{
    IHtmlContent NavLink(string? url, string? text)
    {
        var active = this.Context.Request.Path == new PathString(url) ? "active" : string.Empty;

        return Html.Raw($" <a class=\"nav-link {active}\" href=\"{url}\">{text}</a>");
    }
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DPSG Stamm Phoenix</title>
    <link rel="stylesheet" href="@Url.Content("~/css/bundle.css")" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @await RenderSectionAsync("PageStyle", false)
</head>
<body>

<header class="p-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container rounded shadow-sm">
        <a class="navbar-brand" href="/">
            <img src="@Url.Content("~/image/phoenix-32.png")" alt="Phoenix">
        </a>

        <a class="navbar-brand ms-auto me-auto d-lg-none" href="/">
            <img src="@Url.Content("~/image/lilie-32.png")" alt="Lilie">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Home"), "Home")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Gruppenstunden"), "Gruppenstunden")
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Stufen</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@Url.To("Woelflinge", "Stufe")">Wölflinge</a></li>
                        <li><a class="dropdown-item" href="@Url.To("Jungpfadfinder", "Stufe")">Jungpfadfinder</a></li>
                        <li><a class="dropdown-item" href="@Url.To("Pfadfinder", "Stufe")">Pfadfinder</a></li>
                        <li><a class="dropdown-item" href="@Url.To("Rover", "Stufe")">Rover</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Verband"), "Verband")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Downloads"), "Downloads")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Kontakt"), "Kontakt")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Datenschutz"), "Datenschutz")
                </li>
                <li class="nav-item">
                    @NavLink(Url.To("Index", "Impressum"), "Impressum")
                </li>
            </ul>
            <ul class="navbar-nav ms-auto me-2 ">
                @if (this.Context.IsAuthenticated())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="leiterDropdown" role="button" data-bs-toggle="dropdown">@this.Context.GetUserGivenName()</a>
                        <ul class="dropdown-menu" aria-labelledby="leiterDropdown">
                            <li><a class="dropdown-item" href="@Url.To("Index", "Home", "Leiter")">Zum Leiterbereich</a></li>
                            <li><a class="dropdown-item disabled" href="#">Konto bearbeiten</a></li>
                            <li><a class="dropdown-item" href="@Url.To("Index", "Logout")">Ausloggen</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @NavLink(Url.To("Index", "Login"), "Einloggen")
                    </li>
                }
            </ul>
        </div>

        <a class="navbar-brand ms-auto me-0 d-none d-lg-block" href="/">
            <img src="@Url.Content("~/image/lilie-32.png")" alt="Lilie">
        </a>
    </nav>

    @await RenderSectionAsync("AreaNavigation", false)
</header>

<main role="main" class="ps-2 pe-2">
    <div class="container card shadow-sm p-0 @ViewBag.ContainerClass">
        @RenderBody()
    </div>
</main>

<footer class="p-2">
    <nav class="navbar navbar-light bg-light container rounded shadow-sm d-flex align-content-between flex-nowrap">
        <span class="navbar-text">© @DateTime.Now.Year Deutsche Pfadfinderschaft Sankt Georg 13/19/12 Stamm Phoenix Feldkirchen-Westerham</span>
        <span class="navbar-text font-monospace">@Assembly.GetExecutingAssembly().GetVersion()</span>
    </nav>
</footer>

<script src="@Url.Content("~/js/bundle.js")"></script>
@await RenderSectionAsync("PageScript", false)
</body>
</html>
