@using StammPhoenix.Persistence.Constants
@using StammPhoenix.Persistence
@using StammPhoenix.Persistence.Extensions

@{
    ViewBag.Title = "Gruppenstunden";
}

@inject IDatabaseContext DatabaseContext

@* <div class="container p-0 d-flex justify-content-center mb-2"> *@
@*     <img src="@Url.Content("~/image/leitendenrunde.png")" class="rounded shadow-sm img-fluid" alt="Die Leitendenrunde"> *@
@* </div> *@

<div class="alert alert-light text-dark container mb-2 shadow-sm text-center">
    <span class="material-icons">info</span> <span>Bitte kontaktieren Sie uns <a href="mailto:kontakt@stamm-phoenix.de">per E-Mail</a>, wenn Sie Interesse an einer Schnuppergruppenstunde für Ihr Kind haben.</span>
</div>

@{
    var ranks = new[] { Rank.Woelflinge, Rank.Jungpfadfinder, Rank.Pfadfinder, Rank.Rover };
    var teams = await this.DatabaseContext.GetTeams();
}

@foreach (var rank in ranks)
{
    var team = teams.SingleOrDefault(x => x.Rank == rank);
    var isLast = rank == ranks.Last();

    <div class="card container p-0 @(!isLast ? "mb-2" : string.Empty) shadow-sm">
        <h5 class="card-header bg-@rank.ToString().ToLower() text-light">@rank.ToDisplayName(true)</h5>
        <div class="card-body">
            @if (team != null)
            {
                <div class="row">
                    <div class="col-md-3 fw-bold">Alter:</div>
                    <div class="col-md">@team.AgeGroup</div>
                </div>
                <hr class="mt-2 mb-2 d-md-none">
                <div class="row">
                    <div class="col-md-3 fw-bold">Gruppenstunde:</div>
                    <div class="col-md">@team.MeetingTime</div>
                </div>
                <hr class="mt-2 mb-2 d-md-none">
                <div class="row">
                    <div class="col-md-3 fw-bold">Üblicher Treffpunkt:</div>
                    <div class="col-md">@team.MeetingPlace</div>
                </div>
                <hr class="mt-2 mb-2 d-md-none">
                <div class="row">
                    <div class="col-md-3 fw-bold">Leitende:</div>
                    <div class="col-md">@team.Members</div>
                </div>
            }
            else
            {
                <span class="material-icons">info</span> <span>Es gibt leider gerade keine Informationen zu Gruppenstunden dieser Stufe. Bitte versuchen Sie es später erneut.</span>
            }
        </div>
    </div>
}
