@using StammPhoenix.Web.Models.Login
@using StammPhoenix.Web.Core

<div class="card align-self-center">
    <div class="card-header">
        <h5 class="card-title mb-0">Neues Passwort festlegen</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "d-flex flex-column"}))
        {
            <input type="hidden" value="@Context.Request.Query["redirect"]" name="@nameof(ChangePasswordModel.Redirect)" />
            <div class="input-group mb-3">
                <span class="input-group-text material-icons">lock</span>
                <input type="password" class="form-control" placeholder="Altes Passwort" name="@nameof(ChangePasswordModel.OldPassword)" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text material-icons">lock</span>
                <input type="password" class="form-control" placeholder="Neues Passwort" name="@nameof(ChangePasswordModel.NewPassword)" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text material-icons">lock</span>
                <input type="password" class="form-control" placeholder="Passwort wiederholen" name="@nameof(ChangePasswordModel.NewPasswordRepeat)" >
            </div>
            <button type="submit" class="btn btn-dark align-self-center">Speichern</button>
            @if (this.Context.TryGetTempCookie("ChangePasswordErrorMessage", out var errorMessage))
            {
                <div class="alert alert-danger mt-3 mb-0" role="alert">@Html.Raw(errorMessage)</div>
            }
        }
    </div>
</div>