@using StammPhoenix.Web.Models.Login
@using StammPhoenix.Web.Core

<div class="card align-self-center">
    <div class="card-header">
        <h5 class="card-title mb-0">Leiterbereich</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "d-flex flex-column"}))
        {
            <input type="hidden" value="@Context.Request.Query["redirect"]" name="@nameof(LoginModel.Redirect)" />
            <div class="input-group mb-3">
                <span class="input-group-text material-icons">account_circle</span>
                <input type="text" class="form-control" placeholder="Benutzername" name="@nameof(LoginModel.Email)" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text material-icons">lock</span>
                <input type="password" class="form-control" placeholder="Passwort" name="@nameof(LoginModel.Password)" >
            </div>
            <button type="submit" class="btn btn-dark align-self-center">Einloggen</button>
            @if (this.Context.TryGetTempCookie("LoginErrorMessage", out var errorMessage))
            {
                <div class="alert alert-danger mt-3 mb-0" role="alert">@Html.Raw(errorMessage)</div>
            }
            @if (this.Context.TryGetTempCookie("LoginInfoMessage", out var infoMessage))
            {
                <div class="alert alert-info mt-3 mb-0" role="alert">@Html.Raw(infoMessage)</div>
            }
        }
    </div>
</div>
