<div class="container card shadow-sm p-0">
    <h5 class="card-header">Downloads</h5>
    <div class="card-body">
        <a href="@Url.Content("~/file/Elterninformation.pdf")" class="btn btn-dark mt-2">Informationen für Eltern</a>
        <a href="@Url.Content("~/file/Mitgliederinformation.pdf")" class="btn btn-dark mt-2">Informationen für Mitglieder</a>
        <a href="@Url.Content("~/file/Mitgliedschaftsantrag.pdf")" class="btn btn-dark mt-2">Antrag zur Mitgliedschaft im DPSG Stamm Phoenix</a>
        <a href="@Url.Content("~/file/Sozialermaessigungen.pdf")" class="btn btn-dark mt-2">Sozialermäßigungen für Mitglieder der DPSG</a>
        <a href="@Url.Content("~/file/Packvorschlaege.pdf")" class="btn btn-dark mt-2">Packvorschläge für Zeltlager, Hüttenwochenende und Hajk</a>
        <a href="@Url.Content("~/file/Dokumentation Holzwurm_Internet_V1.6.pdf")" class="btn btn-dark mt-2">Konzept zur Holzwurm Ausbildung</a>
    </div>
</div>